body{
  margin: 30px 100px 30px 100px;
}
header{
    text-align: center;
}
#container, #container2, #container3, #container4 {
   display: flex;
   flex-direction: row;
}
#permanentAddress{
    flex: 0 1 50%;
    text-align: center;
}
#currentAddress{
    flex: 0 1 50%;
    text-align: center;
}
#phone, #email, #linkedin{
  flex: 0 1 33%;
  text-align: center;
}
#education, #coursework{
  flex: 0 1 50%;
}
#work1,#work2{
  flex: 0 1 50%;
}
.indent{
  padding-left: 30px;
}
.date{
  padding-left: 30px;
}
span{
  font-weight: bold;
  font-size: 110%;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
.listAccomplishments{
  padding-left: 60px;
}
li{
  padding-bottom: 10px;
}
h2{
  font-size: 180%;
}
h1{
  font-size: 250%;
}
footer{
  margin-top: 30px;
  text-align: center;
}
