h1,h2{
  text-align:  center;
  background-color: lightGray;
  border-radius: 30px;
}
#currentAddress{
  float: left;
}
#permanentAddress{
  float: right;
}
#container2{
  clear: both;
}
#education, #coursework, #work1, #work2, p, address{
  background-color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 30px;
}
address{
  padding-bottom: 10px;
}
#phone, #email{
  text-align: center;
}
#educationSection{
  float: right;
}
#workExperience{
  float: left;
}
footer{
  text-align: center;
  clear:both;
}
body{
  background-color: rgba(255, 0, 0, 0.5);
}
span{
  font-weight: bolder;
  padding: 5px;
  border-radius: 30px;
  background-color: rgba(0, 0, 255, 0.4);
}
